THERAPIST_EMAIL_ADDRESS=example@mail.com
THERAPIST_PASSWORD=supersecretpassword
THERAPIST_ID=38714
TEST_USER_ID=41538
RASA_AGENT_URL=http://rasa_server:5005/webhooks/niceday_input_channel/webhook
DATABASE_URL=postgresql+psycopg2://root:root@db/perfectfit
NICEDAY_API_ENDPOINT=http://niceday_api:8080/
REDIS_URL=redis://redis:6379
ENVIRONMENT=dev